bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.CodeWars/.idea/.gitignore
/.idea/.idea.CodeWars/.idea/encodings.xml
/.idea/.idea.CodeWars/.idea/indexLayout.xml
/.idea/.idea.CodeWars/.idea/vcs.xml
